@using System.Globalization
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Common.Modals
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Submissions
@model CreateOrEditSubmissionModalViewModel

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSubmission")) : L("CreateNewSubmission")))

<div class="modal-body">
	<div id="SubmissionInformationsTab">
		<form name="SubmissionInformationsForm" role="form" novalidate class="form-validation">

			@if (Model.IsEditMode)
			{
				<input type="hidden" name="id" value="@Model.Submission.Id" />
			}

			<div class="form-group m-form__group">
					<label for="RecordRecordName">@L("Record")</label>
				<div class="input-group">
						<input class="form-control" id="RecordRecordName" name="recordRecordName" value="@Model.RecordRecordName" type="text" disabled>
					<div class="input-group-append">
						<button class="btn btn-primary blue" id="OpenRecordLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
					</div> 
					<div class="input-group-prepend">
						<button class="btn btn-danger btn-icon" type="button" id="ClearRecordRecordNameButton"><i class="fa fa-times"></i></button>
					</div>
				</div>
			</div>

			@if (Model.IsEditMode)
			{
				<input class="form-control" id="Submission_RecordId" value="@Model.Submission.RecordId" type="text" name="recordId"  hidden/>
			}
				else
			{ 
				<input class="form-control" id="Submission_RecordId" value="" type="text" name="recordId"  hidden/>
			}

			<div class="form-group m-form__group">
					<label for="RecordMatterRecordMatterName">@L("RecordMatter")</label>
				<div class="input-group">
						<input class="form-control" id="RecordMatterRecordMatterName" name="recordMatterRecordMatterName" value="@Model.RecordMatterRecordMatterName" type="text" disabled>
					<div class="input-group-append">
						<button class="btn btn-primary blue" id="OpenRecordMatterLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
					</div> 
					<div class="input-group-prepend">
						<button class="btn btn-danger btn-icon" type="button" id="ClearRecordMatterRecordMatterNameButton"><i class="fa fa-times"></i></button>
					</div>
				</div>
			</div>

			@if (Model.IsEditMode)
			{
				<input class="form-control" id="Submission_RecordMatterId" value="@Model.Submission.RecordMatterId" type="text" name="recordMatterId"  hidden/>
			}
				else
			{ 
				<input class="form-control" id="Submission_RecordMatterId" value="" type="text" name="recordMatterId"  hidden/>
			}

			<div class="form-group m-form__group">
					<label for="UserName">@L("User")</label>
				<div class="input-group">
						<input class="form-control" id="UserName" name="userName" value="@Model.UserName" type="text" disabled>
					<div class="input-group-append">
						<button class="btn btn-primary blue" id="OpenUserLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
					</div> 
					<div class="input-group-prepend">
						<button class="btn btn-danger btn-icon" type="button" id="ClearUserNameButton"><i class="fa fa-times"></i></button>
					</div>
				</div>
			</div>

			@if (Model.IsEditMode)
			{
				<input class="form-control" id="Submission_UserId" value="@Model.Submission.UserId" type="text" name="userId"  hidden/>
			}
				else
			{ 
				<input class="form-control" id="Submission_UserId" value="" type="text" name="userId"  hidden/>
			}

			<div class="form-group m-form__group">
					<label for="AppJobName">@L("AppJob")</label>
				<div class="input-group">
						<input class="form-control" id="AppJobName" name="appJobName" value="@Model.AppJobName" type="text" disabled>
					<div class="input-group-append">
						<button class="btn btn-primary blue" id="OpenAppJobLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
					</div> 
					<div class="input-group-prepend">
						<button class="btn btn-danger btn-icon" type="button" id="ClearAppJobNameButton"><i class="fa fa-times"></i></button>
					</div>
				</div>
			</div>

			@if (Model.IsEditMode)
			{
				<input class="form-control" id="Submission_AppJobId" value="@Model.Submission.AppJobId" type="text" name="appJobId"  hidden/>
			}
				else
			{ 
				<input class="form-control" id="Submission_AppJobId" value="" type="text" name="appJobId"  hidden/>
			}

			<div class="form-group">
				<label for="Submission_AccessToken">@L("AccessToken")</label>
				<input class="form-control" id="Submission_AccessToken" value="@Model.Submission.AccessToken" type="text" name="accessToken"     />
			</div>
					
			<div class="m-checkbox-list">
				<label for="Submission_RequiresPayment" class="kt-checkbox">
					<input id="Submission_RequiresPayment" type="checkbox" name="requiresPayment" value="true" @Html.Raw(Model.Submission.RequiresPayment ?"checked=\"checked\"":"") />
					@L("RequiresPayment")
					<span></span>
				</label>
			</div>
					
			<div class="form-group">
				<label for="Submission_PaymentStatus">@L("PaymentStatus")</label>
				<input class="form-control" id="Submission_PaymentStatus" value="@Model.Submission.PaymentStatus" type="text" name="paymentStatus"     />
			</div>
					
			<div class="form-group">
				<label for="Submission_AmountPaid">@L("AmountPaid")</label>
				<input class="form-control m-input" id="Submission_AmountPaid" value="@Model.Submission.AmountPaid?.ToString(CultureInfo.InvariantCulture)" type="number" name="amountPaid"  />
			</div>
					
			<div class="form-group">
				<label for="Submission_ChargeId">@L("ChargeId")</label>
				<input class="form-control" id="Submission_ChargeId" value="@Model.Submission.ChargeId" type="text" name="chargeId"     />
			</div>
					
			<div class="form-group">
				<label for="Submission_SubmissionStatus">@L("SubmissionStatus")</label>
				<input class="form-control" id="Submission_SubmissionStatus" value="@Model.Submission.SubmissionStatus" type="text" name="submissionStatus"  required    />
			</div>
					
			<div class="form-group">
				<label for="Submission_Type">@L("Type")</label>
				<input class="form-control" id="Submission_Type" value="@Model.Submission.Type" type="text" name="type"     />
			</div>
		</form>
	</div>
</div>

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
