
@*@using Syntaq.Falcon.Web.Areas.Falcon.Models.Common.Modals
@using Syntaq.Falcon.Web.Areas.Falcon.Models.MergeTexts
@model MergeTextViewModel

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="MergeTextInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("EntityType") :</h6>
                @Model.MergeText.EntityType
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EntityKey") :</h6>
                @Model.MergeText.EntityKey
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("MergeTextItem")) @L("Name") :</h6>
                @Model.MergeTextItemName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalFooterWithClose.cshtml")*@

