@using Syntaq.Falcon.Authorization
@using Syntaq.Falcon.Web.Areas.Falcon.Models.MergeTexts
@using Syntaq.Falcon.Web.Areas.Falcon.Startup
@model MergeTextsViewModel
@{
    ViewBag.CurrentPageName = FalconPageNames.Common.MergeTexts;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/Falcon/Views/MergeTexts/Index.js" asp-append-version="true"></script>
}
<div class="kt-subheader kt-grid__item">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            <span>@L("MergeTexts")</span>
        </h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">
            @L("MergeTextsHeaderInfo")
        </span>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            @if (IsGranted(AppPermissions.Pages_MergeTexts_Create))
            {
                <button id="CreateNewMergeTextButton" class="btn btn-primary blue"> @L("CreateNewMergeText")</button>
            }
        </div>
    </div>
</div>
<div class="kt-content">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="MergeTextsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetMergeTextsButton" class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row m--margin-bottom-10">
                    <div class="col-md-12">
						<div class="m-separator m-separator--dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="EntityTypeFilterId">@L("EntityType")</label>
									<input type="text" class="form-control" name="entityTypeFilter" id="EntityTypeFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="EntityKeyFilterId">@L("EntityKey")</label>
									<input type="text" class="form-control" name="entityKeyFilter" id="EntityKeyFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="MergeTextItemNameFilterId">(@L("MergeTextItem")) @L("Name")</label>
									<input type="text" class="form-control" name="mergeTextItemNameFilter" id="MergeTextItemNameFilterId">
								</div>
                            </div>

                </div>
                <div class="row m--margin-bottom-10">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="MergeTextsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
								<th>@L("EntityType")</th>
								<th>@L("EntityKey")</th>
								<th>@L("MergeTextItemName")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>