@using Syntaq.Falcon.Authorization
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Asic
@using Syntaq.Falcon.Web.Areas.Falcon.Startup
@model AsicViewModel
@{
    ViewBag.CurrentPageName = FalconPageNames.Common.Asic;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/Falcon/Views/Asic/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Asic")" description="@L("AsicHeaderInfo")">
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="mb-5 align-items-center">
                                <div class="input-group">
                                    <input type="text" id="AsicTableFilter" aria-label="@L("InputFilterText")" class="form-control" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <button class="btn btn-secondary" id="clearbtn" aria-label="@L("Clear")" type="button">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <button id="GetAsicButton" class="btn btn-primary" type="submit" aria-label="@L("Search")">
                                        <i class="fa fa-search" aria-label="@L("Search")"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                         <div class="row mb-4">
                            <div class="col-xl-12">
                                <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
                                    <i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")
                                </span>
                                <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
                                    <i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">     
                        @if (!AbpSession.TenantId.HasValue)
                        {
                            <div class="col-xl-3">
                                <div class="mb-5">
                                    <label for="tenantNameFilter" class="form-label">@L("Tenant")</label>
                                    <input type="text" class="form-control" name="tenantNameFilter" id="TenantNameFilter">
                                </div>
                            </div>
                        }
                        <div class="col-xl-2">
                            <div class="mb-5">
                                <label for="StartEndRange" class="form-label">@L("DateRange")</label>
                                <div class="input-group date">
                                    <input id="StartEndRange" type="text" class="form-control date-range-picker" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-items-center">
                    <table id="AsicTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th>@L("RequestId")</th>
                                <th>@L("User")</th>
                                <th>@L("CompanyName")</th>
                                <th>@L("Status")</th>
                                <th>@L("Tenants")</th>
                                <th>@L("LastUpdated")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
