@using Syntaq.Falcon.Authorization
@using Syntaq.Falcon.Web.Areas.Falcon.Models.ProjectTenants
@using Syntaq.Falcon.Web.Areas.Falcon.Startup
@model ProjectTenantsViewModel
@{
//ViewBag.CurrentPageName = FalconPageNames.Common.ProjectTenants;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/Falcon/Views/ProjectTenants/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("ProjectTenants")' description='@L("ProjectTenantsHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_ProjectTenants_Create))
        {
        <button id="CreateNewProjectTenantButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewProjectTenant")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="my-3">
                                <div class="input-group">
                                    <input type="text" id="ProjectTenantsTableFilter" class="form-control" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <button id="GetProjectTenantsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">

                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinSubscriberTenantIdFilterId">@L("MinMax") @L("SubscriberTenantId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minSubscriberTenantIdFilter" id="MinSubscriberTenantIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxSubscriberTenantIdFilter" id="MaxSubscriberTenantIdFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="ProjectIdFilterId">@L("ProjectId")</label>
                            <input type="text" class="form-control" name="projectIdFilter" id="ProjectIdFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="EnabledFilterId">@L("Enabled")</label>
                        <select class="form-select" name="EnabledFilter" id="EnabledFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="ProjectEnvironmentNameFilterId">(@L("ProjectEnvironment")) @L("Name")</label>
                            <input type="text" class="form-control" name="projectEnvironmentNameFilter" id="ProjectEnvironmentNameFilterId">
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="ProjectTenantsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("SubscriberTenantId")</th>
                                <th>@L("ProjectId")</th>
                                <th>@L("Enabled")</th>
                                <th>@L("ProjectEnvironmentName")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>