
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Common.Modals
@using Syntaq.Falcon.Web.Areas.Falcon.Models.TagEntityTypes
@model TagEntityTypeViewModel

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="TagEntityTypeInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("EntityType") :</h6>
                @L("Enum_EntityType_" + (int)Model.TagEntityType.EntityType)
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Tag")) @L("Name") :</h6>
                @Model.TagName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalFooterWithClose.cshtml")

