
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Common.Modals
@using Syntaq.Falcon.Web.Areas.Falcon.Models.TagValues
@model TagValueViewModel

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="TagValueInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Value") :</h6>
                @Model.TagValue.Value
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Tag")) @L("Name") :</h6>
                @Model.TagName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalFooterWithClose.cshtml")

