@using Syntaq.Falcon.Authorization
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Folders
@using Syntaq.Falcon.Web.Areas.Falcon.Startup
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Common.Modals
@model FolderLookupTableViewModel

@section Scripts
    {
    <script abp-src="/view-resources/Areas/Falcon/Views/Folders/_FoldersLookupTableModal.js" asp-append-version="true"></script>
}

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("PickFolder")))

<div class="kt-portlet kt-portlet--mobile mb-0">
    <div class="kt-portlet__body">
        <div class="modal-body">
        <div class="kt-form kt-form-label-align-right">
            <div class="row align-items-center kt-margin-bottom-10">
                <div class="col-12">
                    <div class="form-group kt-form__group align-items-center">
                        <div class="input-group">
                            <input type="text" id="FormsFolderTableFilter" aria-label="@L("InputFilterText")" class="form-control kt-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                            <span class="input-group-btn">
                                <button id="GetFoldersButton" aria-label="@L("Search")" class="btn btn-primary kt-btn kt-btn--custom   OpenRecordMatterLookupTableButton" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>

        <div class="align-items-center">
            <table id="FoldersTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>@L("Name")</th>
                    </tr>
                </thead>
            </table>
            </div>

        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalFooterWithClose.cshtml")
