@using Syntaq.Falcon.Authorization
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Vouchers
@using Syntaq.Falcon.Web.Areas.Falcon.Startup
@model VouchersViewModel
@{
    ViewBag.CurrentPageName = FalconPageNames.Common.Vouchers;
}

@section Styles
    { <link rel="stylesheet" abp-href="/view-resources/Areas/Falcon/Views/Vouchers/Index.css" asp-append-version="true" />

    <link rel="stylesheet" abp-href="/view-resources/Areas/Falcon/Views/Users/Index.css" asp-append-version="true" />
}

@section Scripts
	{
    <script abp-src="/view-resources/Areas/Falcon/Views/Vouchers/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Vouchers")"  description="@L("VouchersHeaderInfo")" >

        @if (IsGranted(AppPermissions.Pages_Vouchers_Create))
        {
            <button id="CreateNewVoucherButton" class="btn btn-primary">          
                <span class="d-none d-md-inline-block">
                    @L("CreateNewVoucher")
                </span>
            </button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="mb-5 align-items-center">
                                <div class="input-group">
                                    <input aria-label="Voucher Table Filter" type="text" id="VouchersTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <button class="btn btn-secondary" id="clearbtn" aria-label="@L("Clear")" type="button">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <button id="GetVouchersButton" class="btn btn-primary" type="submit" aria-label="@L("Search")">
                                        <i class="fa fa-search" aria-label="@L("Search")"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                        <div class="col-xl-3">
                            <div class="mb-5">
                                <label for="KeyFilterId" class="form-label">@L("Key")</label>
                                <input type="text" class="form-control" name="keyFilter" id="KeyFilterId">
                            </div>
                        </div>

                        <div class="col-xl-3">
                            <div class="mb-5">
                                <label for="MinExpiryFilterId" class="form-label">@L("MinMax") @L("Expiry")</label>
                                <div class="input-group">
                                    <input class="form-control kt-input date-picker" type="date" placeholder="@L("MinValue")" id="MinExpiryFilterId">
                                    <input aria-label="Max Expiry Date" class="form-control kt-input date-picker" type="date" placeholder="@L("MaxValue")" id="MaxExpiryFilterId">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3">
                            <div class="mb-5">
                                <label for="MinNoOfUsesFilterId" class="form-label">@L("MinMax") @L("NoOfUses")</label>
                                <div class="input-group">
                                    <input type="number" class="form-control kt-input" placeholder="@L("MinValue")" name="minNoOfUsesFilter" id="MinNoOfUsesFilterId" />
                                    <input aria-label="Max No. Of Use Filter" type="number" class="form-control kt-input" placeholder="@L("MaxValue")" name="maxNoOfUsesFilter" id="MaxNoOfUsesFilterId" />
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3">
                            <div class="mb-5">
                                <label for="DiscountTypeFilterId" class="form-label">@L("DiscountType")</label>
                                <input type="text" class="form-control" name="discountTypeFilter" id="DiscountTypeFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-12">
                            <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
                                <i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")
                            </span>
                            <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
                                <i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")
                            </span>
                        </div>
                    </div>
                </div>
                <div class="align-items-center">
                    <table id="VouchersTable" class="table align-middle table-hover table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th>@L("Key")</th>
                                <th>@L("Value")</th>
                                <th>@L("Expiry")</th>
                                <th>@L("NoOfUses")</th>
                                <th>@L("Description")</th>
                                <th>@L("DiscountType")</th>
                                <th style="width:5%">@L("Actions")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
