@using Syntaq.Falcon.Web.Areas.Falcon.Models.Common.Modals
@using Syntaq.Falcon.Web.Areas.Falcon.Models.ProjectTemplates
@using Syntaq.Falcon.ProjectTemplates.Dtos
@using Newtonsoft.Json
@using Syntaq.Falcon.Tags;
@using Syntaq.Falcon.Tags.Dtos;
@model CreateOrEditProjectTemplateViewModel
@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Tags")) : L("Tags")))


<div class="modal-body">
    
    <input type="hidden" name="ProjectTemplateId" value="@Model.ProjectTemplate.Id" />
    <input type="hidden" name="ProjectTemplateName" value="@Model.ProjectTemplate.Name" />
    <form name="TagForm" role="form" novalidate class="form-validation">

        @foreach (GetTagEntityTypeForViewDto tag in Model.Tags.Items)
        {
            <p>
                <div class="font-weight-bold mb-2"><span class="fa fa-tag"></span> @tag.TagName</div>
                @foreach (TagValueDto tagvalue in tag.TagEntityType.Values)
                {
                    <span class="ml-3">
                        <label class="kt-checkbox mb-2" for="tag@(tagvalue.Value)">
                            <input id="tag@(tagvalue.Value)"
                                    @( Model.EntityTags.Items.Any(t => t.TagEntity.TagValueId == tagvalue.Id) ? "checked" : "")
                                    style="font-size:1.4em" type="checkbox" name="@(tagvalue.Id)"
                                    value="true" />
                            @tagvalue.Value
                            <span></span>
                        </label>
                    </span>
                }
            </p>
        }

    </form>
    
</div>

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")