@using Syntaq.Falcon.Authorization
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Projects
@using Syntaq.Falcon.Web.Areas.Falcon.Startup
@model ProjectsViewModel
@{
    ViewBag.CurrentPageName = FalconPageNames.Common.Projects;
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/Falcon/Views/Projects/Index.js" asp-append-version="true"></script>
    <script src="~/metronic/src/js/framework/components/general/wizard.js"></script>

    <script src="~/assets/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/assets/Bootstrap/bootstrap-tagsinput.min.js"></script>

}

@section Styles
{
    <link href="~/Common/tagsinput.css" rel="stylesheet" />
}

<script>
    function showStartModal() {


        var _startProjectModal = new app.ModalManager({
            viewUrl: abp.appPath + 'Falcon/Projects/StartProjectModal',
            scriptUrl: abp.appPath + 'view-resources/Areas/Falcon/Views/Projects/_StartProjectModal.js',
            modalClass: 'StartProjectModal'
        });

        _startProjectModal.open();
    }

</script>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Projects")" description="@L("ProjectsHeaderInfo")">

        @if (IsGranted(AppPermissions.Pages_Projects_Create) || IsGranted(AppPermissions.Pages_Projects_Edit))
        {
            <button id="StartNewProjectButton" class="btn btn-primary">
             
                <span class="d-none d-md-inline-block">
                    @L("NewProject")
                </span>
            </button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="mb-5 align-items-center">
                                <div class="input-group">
                                    <input type="text" id="ProjectsTableFilter" class="form-control" aria-label="@L("InputFilterText")" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <button class="btn btn-secondary" id="clearbtn"  aria-label="@L("Clear")" type="button">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <button id="GetProjectsButton" class="btn btn-primary" type="submit" aria-label="@L("Search")">
                                        <i class="fa fa-search" aria-label="@L("Search")"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                        <div class="col-xl-4">
                            <div class="mb-5">
                                <label for="NameFilterId" class="form-label">@L("Name")</label>
                                <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="mb-5">
                                <label for="DescriptionFilterId" class="form-label">@L("Description")</label>
                                <input type="text" class="form-control" name="descriptionFilter" id="DescriptionFilterId">
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="mb-5">
                                <label for="StatusFilterId" class="form-label">@L("Status")</label>
                                <select class="form-control" name="StatusFilter" id="StatusFilterId">
                                    <option value="-1">@L("All")</option>
                                    <option value="0">@L("Enum_ProjectStatus_0")</option>
                                    <option value="1">@L("Enum_ProjectStatus_1")</option>
                                    <option value="2">@L("Enum_ProjectStatus_2")</option>
                                    @if (Model.StatusFilter != null)
                                    {
                                        <option value=@Model.StatusFilter.ToString() selected>@L("Enum_ProjectStatus_" + Model.StatusFilter.ToString())</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="mb-5">
                                <label for="TypeFilterId" class="form-label">@L("Type")</label>
                                <select class="form-control" name="TypeFilter" id="TypeFilterId">
                                    <option value="-1">@L("All")</option>
                                    <option value="0">@L("Enum_ProjectType_0")</option>
                                    <option value="1">@L("Enum_ProjectType_1")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="mb-5">
                                <label for="RecordRecordNameFilterId" class="form-label">@L("RecordName")</label>
                                <input type="text" class="form-control" name="recordRecordNameFilter" id="RecordRecordNameFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-12">
                            <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item">
                                <i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")
                            </span>
                            <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none">
                                <i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")
                            </span>
                        </div>
                    </div>
                    <ul class="nav nav-tabs nav-tabs-bold nav-tabs nav-tabs-line-right nav-tabs-line-brand mb-2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-toggle="tab" href="#projects_tab" role="tab" aria-selected="true">
                                @L("My") @L("Projects")
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link " data-bs-toggle="tab" href="#ShareProject_tab" role="tab" aria-selected="true">
                                @L("ProjectsSharedWithMe")
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link " data-bs-toggle="tab" href="#AchivedProject_tab" role="tab" aria-selected="true">
                                @L("ArchivedProjects")
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content   border-0">
                    <div class="tab-pane active" id="projects_tab" role="tabpanel">
                        <div class="align-items-center">
                            <table id="ProjectsTable" class="table table-hover align-middle table-row-dashed   gy-5 dataTable no-footer">
                                <thead>
                                    <tr>
                                        
                                        <th>@L("Name")</th>
                                        <th>@L("Status")</th>
                                        <th>@L("LastUpdated")</th>
                                        <th style="width:4em">@L("Actions")</th>
 
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="AchivedProject_tab" role="tabpanel">
                        <div id="AchivedProjectTab" class="align-items-center">
                            <table id="ArchivedProjectsTable" class="table table-hover align-middle table-row-dashed  gy-5 dataTable no-footer">
                                <thead>
                                    <tr>
                                        
                                        <th>@L("Name")</th>
                                        <th>@L("Status")</th>
                                        <th>@L("LastUpdated")</th>
                                        <th>@L("Actions")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="ShareProject_tab" role="tabpanel">
                        <div id="ShareProject_tab" class="align-items-center">
                            <table id="ShareProjectsTable" class="table table-hover align-middle table-row-dashed   gy-5 dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th>@L("Name")</th>
                                        <th>@L("Status")</th>
                                        <th>@L("LastUpdated")</th>
                                        <th>@L("Actions")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
