
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Common.Modals
@using Syntaq.Falcon.Web.Areas.Falcon.Models.VoucherEntities
@model VoucherEntityViewModel

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="VoucherEntityInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("EntityKey") :</h6>
                @Model.VoucherEntity.EntityKey
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EntityType") :</h6>
                @Model.VoucherEntity.EntityType
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Voucher")) @L("TenantId") :</h6>
                @Model.VoucherTenantId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalFooterWithClose.cshtml")

