@using Syntaq.Falcon.Authorization
@using Syntaq.Falcon.Web.Areas.Falcon.Models.FormFeedbacks
@using Syntaq.Falcon.Web.Areas.Falcon.Startup
@{
    ViewBag.CurrentPageName = FalconPageNames.Common.FormFeedbacks;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/Falcon/Views/FormFeedbacks/Index.js" asp-append-version="true"></script>
    <script abp-src="/assets/formio/dist/formio.full.min.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("FormFeedbacks")" description="@L("FormFeedbacksHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-success"> @L("ExportToExcel")</button>
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="mb-5 align-items-center">
                                <div class="input-group">
                                    <input type="text" id="FormFeedbacksTableFilter" aria-label="@L("InputFilterText")" class="form-control" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <button class="btn btn-secondary" id="clearbtn" aria-label="@L("Clear")" type="button">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <button id="GetFormFeedbacksButton" class="btn btn-primary" type="submit" aria-label="@L("Search")">
                                        <i class="fa fa-search" aria-label="@L("Search")"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-items-center">
                    <table id="FormFeedbacksTable" class="table align-middle table-hover table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th class="all">@L("FormName")</th>
                                <th>@L("Sender")</th>
                                <th>@L("Email")</th>
                                <th class="all">@L("Rating")</th>
                                <th>@L("Comments")</th>
                                <th>@L("TimeReceived")</th>
                                <th class="all">@L("Actions")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
