@using Syntaq.Falcon.Authorization
@using Syntaq.Falcon.Web.Areas.Falcon.Models.AppJobs
@using Syntaq.Falcon.Web.Areas.Falcon.Startup
@model AppJobsViewModel
@{
    ViewBag.CurrentPageName = FalconPageNames.Common.AppJobs;
}

@section Scripts{
    <script abp-src="/view-resources/Areas/Falcon/Views/AppJobs/Index.js" asp-append-version="true"></script>
}

<style>

    .modal-open {
        overflow: scroll;
    }

</style>

<div class="m-subheader">
    <div class="row align-items-center">
        <div class="mr-auto col-sm-12 col-md-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L("AppJobs")</span>
            </h3>
            <span class="m-section__sub">
                @L("AppJobsHeaderInfo")
            </span>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_AppJobs_Create))
            {
                <button id="CreateNewAppJobButton" class="btn btn-primary blue"> @L("CreateNewAppJob")</button>
            }
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right">
                <div class="row align-items-center m--margin-bottom-10">
                    <div class="col-xl-12">
                        <div class="form-group m-form__group align-items-center">
                            <div class="input-group">
                                <input type="text" aria-label="@L("InputFilterText")" id="AppJobsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetAppJobsButton" aria-label="@L("Search")" class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row m--margin-bottom-10">
                <div class="col-md-12">
                    <div class="m-separator m-separator--dashed"></div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="NameFilterId">@L("Name")</label>
                        <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="AppNameFilterId">(@L("App")) @L("Name")</label>
                        <input type="text" class="form-control" name="appNameFilter" id="AppNameFilterId">
                    </div>
                </div>

            </div>
            <div class="row m--margin-bottom-10">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="AppJobsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
                            <th>@L("Name")</th>
                            <th>@L("AppName")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


