
@using Syntaq.Falcon.Web.Areas.Falcon.Models.Common.Modals
@using Syntaq.Falcon.Web.Areas.Falcon.Models.VoucherUsages
@model VoucherUsageViewModel

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="VoucherUsageInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("DateRedeemed") :</h6>
                @Model.VoucherUsage.DateRedeemed
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EntityKey") :</h6>
                @Model.VoucherUsage.EntityKey
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EntityType") :</h6>
                @Model.VoucherUsage.EntityType
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("User")) @L("Name") :</h6>
                @Model.UserName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/Falcon/Views/Common/Modals/_ModalFooterWithClose.cshtml")

